<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SteveCadwallader.CodeMaid.Properties.Settings>
      <setting name="Formatting_IgnoreLinesStartingWith" serializeAs="String">
        <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;string&gt;ReSharper disable &lt;/string&gt;
  &lt;string&gt;ReSharper enable &lt;/string&gt;
&lt;/ArrayOfString&gt;</value>
      </setting>
      <setting name="Reorganizing_MemberTypeConstructors" serializeAs="String">
        <value>Constructors||5||Constructors</value>
      </setting>
      <setting name="Reorganizing_MemberTypeMethods" serializeAs="String">
        <value>Methods||7||Methods</value>
      </setting>
      <setting name="Reorganizing_MemberTypeProperties" serializeAs="String">
        <value>Properties||4||Properties</value>
      </setting>
      <setting name="Reorganizing_MemberTypeEnums" serializeAs="String">
        <value>Enums||9||Enums</value>
      </setting>
      <setting name="Reorganizing_MemberTypeDestructors" serializeAs="String">
        <value>Destructors||6||Destructors</value>
      </setting>
      <setting name="Reorganizing_MemberTypeDelegates" serializeAs="String">
        <value>Delegates||8||Delegates</value>
      </setting>
      <setting name="Reorganizing_MemberTypeIndexers" serializeAs="String">
        <value>Indexers||3||Indexers</value>
      </setting>
      <setting name="Reorganizing_MemberTypeInterfaces" serializeAs="String">
        <value>Interfaces||10||Interfaces</value>
      </setting>
      <setting name="Reorganizing_MemberTypeEvents" serializeAs="String">
        <value>Events||2||Events</value>
      </setting>
      <setting name="Reorganizing_PerformWhenPreprocessorConditionals"
        serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Formatting_CommentXmlSpaceSingleTags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertEndOfFileTrailingNewLine" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Formatting_CommentXmlSplitSummaryTagToMultipleLines"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Formatting_CommentXmlSpaceTags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Formatting_CommentWrapColumn" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBetweenPropertiesMultiLineAccessors"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterPropertiesSingleLine"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Reorganizing_AlphabetizeMembersOfTheSameGroup"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterEnumerations"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeEnumerations"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnEnumerations"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Digging_PrimarySortOrder" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ThirdParty_OtherCleaningCommandsExpression" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnProperties"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnMethods"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnClasses"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnDelegates"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnEvents"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnInterfaces"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnFields"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertExplicitAccessModifiersOnStructs"
        serializeAs="String">
        <value>False</value>
      </setting>
    </SteveCadwallader.CodeMaid.Properties.Settings>
  </userSettings>
</configuration>